{
  "id": null,
  "name": "ipsum deserunt",
  "code": "ex enim est Duis mollit",
  "budget_status": "amet",
  "limit_enc_percent": 85883194,
  "limit_exp_percent": -26018341,
  "allocation": -39864443,
  "awaiting_payment": 97645094,
  "available": 17987810,
  "encumbered": 90021641,
  "expenditures": -80617887,
  "over_encumbrance": -41253041,
  "fund_id": null,
  "fiscal_year_id": null,
  "tags": [
    "570c60b4-159F-4e1c-9ECB-8293Df67D16d",
    "b981e3e2-cd26-dCE2-c6Cd-159eAEfb351d"
  ]
}
