{
  "distributions": [
    {
      "id": "4c58e097-3bef-67f9-B4B3-e1Fa4CCbF12D",
      "amount": 25,
      "currency": "USD",
      "percent": 100,
      "source_type": "PO Line",
      "source_id": "906eb7a4-8BbC-1CCf-6cAF-de909eABeedd",
      "budget_id": "47Ac60b4-159D-4e1c-9aCB-8293Df67D16d"
    }

  ],
  "total_records": 1,
  "first": 1,
  "last": 1
}
