{
  "id": null,
  "name": "adipisicing velit tempor sed",
  "code": "sed consequat",
  "description": "labore enim",
  "period_start": "3473-10-12T09:28:07.511Z",
  "period_end": "4808-04-18T14:57:47.023Z",
  "fiscal_years": [
    "a97b85b9-01fc-30DA-ccda-7Cd80CCd62cF",
    "bae10bb5-d6EE-0AE1-FCe5-3D0Bad6D4067",
    "477e3454-FBF7-9159-1dBd-a8Da04Cd06C7"
  ]
}
