{
  "ledgers": [
    {
      "id": "7cef8378-7CBd-BFaE-BCdd-8b9d7c0af9De",
      "name": "Main Library",
      "code": "MAIN-LIB",
      "description": "This is the ledger for the Main Library",
      "period_start": "2017-07-01T00:00:00Z",
      "period_end": "2017-06-31T23:59:59Z",
      "fiscal_years": [
        "AC2164c7-Ba3d-AbC2-C12C-e35CeCcbfaF2"
      ]
    }

  ],
  "total_records": 1,
  "first": 1,
  "last": 1
}
