{
  "transactions": [
    {
      "id": "12Ac70A4-5C9D-A12F-9aCB-852aDf67D7e1",
      "allocated": 0,
      "amount": 25,
      "awaiting_payment": 0,
      "encumbered": 25,
      "expenditures": 0,
      "note": "PO_Line: History of Incas",
      "timestamp": "2017-07-01T19:03:02.778Z",
      "source_id": "906eb7a4-8BbC-1CCf-6cAF-de909eABeedd",
      "transaction_type": "PO-Line-Encumbrance",
      "budget_id": "47Ac60b4-159D-4e1c-9aCB-8293Df67D16d"
    }

  ],
  "total_records": 1,
  "first": 1,
  "last": 1
}
