{
  "id": null,
  "amount": 25,
  "currency": "USD",
  "percent": 100,
  "source_type": "PO_Line",
  "source_id": "906eb7a4-8BbC-1CCf-6cAF-de909eABeedd",
  "budget_id": "47Ac60b4-159D-4e1c-9aCB-8293Df67D16d"
}
