{
  "id": null,
  "name": "History",
  "code": "HIST",
  "created_date": "2775-01-01T13:06:34.186Z",
  "fund_status": "Active",
  "currency": "USD",
  "description": "Tracking fund for the History department",
  "ledger_id": null,
  "allocation_from": [],
  "allocation_to": [],
  "tags": []
}
