{
  "allocated": 0,
  "amount": 25,
  "awaitingPayment": 0,
  "encumbered": 25,
  "expenditures": 0,
  "note": "PO_Line: History of Incas",
  "timestamp": "2017-07-01T19:03:02.778Z",
  "sourceId": "906eb7a4-8BbC-1CCf-8cAF-de909eABeedd",
  "transactionType": "PO-Line-Encumbrance",
  "budgetId": "67cd0046-e4f1-4e4f-9024-adf0b0039d09"
}
